{% extends "layout.html" %}
{% import 'forms.html' as forms %}
{% block body %}
<h2>Download Trends</h2>
{{forms.trend_form(form)}}
<br/>
<table style="width:100%;">
    <tr>
        <th colspan="2">Downloads By Version</th>
    </tr>
    <tr>
        <td style="width:80%">
            <canvas id="downloadsTrend" width="1000px" height="500"></canvas>
        </td>
        <td style="width:20%">
            <table id="downloadsLegend" class="trendLegend" style="width:100%">
                <tr style="text-align: center"><th>Line Color</th><th>Version</th></tr>
            </table>
        </td>
    </tr>
</table>
<script type="text/javascript">

    // Couldn't find a chart tool that automatically generates the colors
    // So we need an array to keep track of them all
    var colors = [
        [255,0,0],
        [255,0,255],
        [255,255,0],
        [255,125,125],
        [255,0,125],
        [125,255,0],
        [125,0,255],
        [125,255,255],
        [125,255,125],
        [125,125,255],
        [125,125,125],
        [125,125,0],
        [125,0,125],
        [125,0,0],
        [62,19,86],
        [0,255,0],
        [0,0,255],
        [0,255,255],
        [0,125,255],
        [0,125,125],
        [0,125,0],
        [0,0,125],
        [0,0,0]
    ];
    // For some reason Javasript Date doesn't give the month in string form, so just use this array
    var monthNames = [ "January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December" ];

    function getNewDataSet(label, index) {
        if(index > colors.length) {
            alert('Not enough colors for the number of trends present, please reduce your time range or add more colors');
        }
        var color = colors[index];
        var colorString = "rgba(" + color[0] + "," + color[1] + "," + color[2] + ",";
        return {
            'label' : label,
            'fillColor' : colorString + "0.2)",
            'strokeColor' : colorString + "1)",
            'pointColor' : colorString + "1)",
            'poinStrokeColor' : "#fff",
            'pointHighlightFill' : "#fff",
            'pointHighlightStroke' : colorString + "1)",
            'data' : []
        };
    }

    function formatTrendData(unformattedData, legendElementID) {
        var formattedData = [];
        var dataSetCount = 0;
        for(var i = 0; i < unformattedData.length; i++) {
            for(var j = 0; j < unformattedData[i].length; j++) {
                var newData = true;
                for(var k = 0; k < formattedData.length; k++) {
                    // Add plot point to an existing trendline
                    if(formattedData[k].label == unformattedData[i][j].version) {
                        newData = false;
                        formattedData[k].data.unshift(unformattedData[i][j]['count(*)']);
                    }
                }
                // Create a new trendline
                if(newData) {
                    var newDataSet = getNewDataSet(unformattedData[i][j].version, dataSetCount++);
                    // Generate html legend
                    $("#"+legendElementID).append("<tr><td><div style='width:20px;height:20px;background-color:" + newDataSet.pointColor + "'></div></td><td>" + newDataSet.label + "</td></p>");
                    formattedData.push(newDataSet);
                    // Fill in zeroes behind data
                    for(var l = 0; l < i; l++) {
                        newDataSet.data.push(0);
                    }
                    newDataSet.data.unshift(unformattedData[i][j]['count(*)']);
                }
            }
            // Add a zero to every trendline that did not have a new data point this iteration
            for(var k = 0; k < formattedData.length; k++) {
                if(formattedData[k].data.length == i) {
                    formattedData[k].data.unshift(0);
                }
            }
        }
        return formattedData;
    }

    var intervals = {{intervals | tojson | safe}};
    var monthLabels = [];
    for(var i = 0; i < intervals.length-1; i++) {
        // The datetime should come in in seconds and we need to convert to milliseconds
        var intervalDate = new Date(intervals[i] * 1000);
        monthLabels.unshift(monthNames[intervalDate.getMonth()] + " " + intervalDate.getFullYear());
    }


    var downloads = {{ trend | tojson | safe}};
    var downloadsTrend = formatTrendData(downloads, "downloadsLegend");

    var downloadsChartData = {
        'labels' : monthLabels,
        'datasets' : downloadsTrend
    };
    ctx = document.getElementById("downloadsTrend").getContext("2d");
    var downloadsChart = new Chart(ctx).Line(downloadsChartData);


</script>
{% endblock %}