{% macro period_form(form) -%}
<div id="filterform">
    <form method="get" style="float: left;">
        Show results from start of {{form.monthStart()}} / {{form.yearStart()}} to end of {{form.monthEnd()}} / {{form.yearEnd()}}
        <input type="submit" value="Update"/>
    </form>
    <div style="float: right;">Showing {{form.get_start() | timestamp}} to {{form.get_end() | timestamp }}</div>
</div>
{%- endmacro %}

{% macro map_form(form) -%}
<div id="filterform">
    <form method="get" style="float: left;">
        Drop pins for {{form.pins()}}
        from start of {{form.monthStart()}} / {{form.yearStart()}} to end of {{form.monthEnd}} / {{form.yearEnd}}
        {% if form.pins.errors %}
        <span class="form_error">{{ ". ".join(form.pins.errors) }}</span>
        {% endif %}
        <input type="submit" value="Update"/>
    </form>
    <div style="float: right;">Pinning {{form.get_pins()}} to the map</br>
        Showing {{form.get_start() | timestamp}} to {{form.get_end() | timestamp }}</div>
</div>
{%- endmacro %}

{% macro trend_form(form) -%}
<div id="filterform">
    <form method="get" style="float: left;">
        Show trends from start of {{form.monthStart()}} / {{form.yearStart()}} to end of {{form.monthEnd()}} / {{form.yearEnd()}}
        <input type="submit" value="Update"/>
    </form>
    <div style="float: right;">Showing {{form.get_start() | timestamp}} to {{form.get_end() | timestamp }}</div>
</div>
{%- endmacro %}

{% macro histogram_form(form) -%}
<div id="filterform">
    <form method="get" style="float:left;">
        <p>
        Show distribution of workflows based on {{form.jobOrFile()}} with type
        {% if form.jobOrFile.data == "job" %}
            {{form.jobType()}}.
        {% else %}
            {{form.fileType()}}.
        {% endif %}
        </p>
        <p>Between the values {{form.min()}} and {{form.max()}}.</p>
        <p>From the start of {{form.monthStart()}} / {{form.yearStart()}} to the end of {{form.monthEnd()}} / {{form.yearEnd()}}</p>
        <input type="submit" value="Update"/>

    </form>
    <div style="float: right;"><p>Showing number of workflows with {{form.get_metric()}} counts between {{form.get_min()}} and {{form.get_max()}} <p/>that were run between {{form.get_start() | timestamp}} and {{form.get_end() | timestamp}}</div>
</div>
{%- endmacro %}