{% extends "layout.html" %}
{% import 'forms.html' as forms %}
{% block body %}
{{forms.period_form(form)}}
<div class="widget">
<h2>Metametrics</h2>
<table class="keyvalue">
    <tr><th>Number of raw objects</th><td class="numcol">{{raw | decimal}}</td></tr>
    <tr><th>Number of invalid objects</th><td class="numcol">{{invalid | decimal}}</td></tr>
    <tr><th>Number of processed objects</th><td class="numcol">{{(raw-invalid) | decimal}}</td></tr>
</table>
</div>
<div class="widget">
<h2>Planner Metrics</h2>
<table class="keyvalue">
    <tr><th>Workflows Planned</th><td class="numcol">{{planner_stats["plans"] | decimal}}</td></tr>
    <tr><th>Tasks Planned</th><td class="numcol">{{planner_stats["tasks"] | decimal}}</td></tr>
    <tr><th>Jobs Planned</th><td class="numcol">{{planner_stats["jobs"] | decimal}}</td></tr>
    <tr><th>Errors Reported</th><td class="numcol">{{planner_errors | decimal}}</td></tr>
</table>
</div>
<div class="widget">
<h2>DAGMan Metrics</h2>
<table class="keyvalue">
    <tr><th>Workflow Runs</th><td class="numcol">{{dagman_stats["runs"] | decimal}}</td></tr>
    <tr><th>Total Jobs</th><td class="numcol">{{dagman_stats["total_jobs"] | decimal}}</td></tr>
    <tr><th>Jobs Submitted</th><td class="numcol">{{dagman_stats["jobs_run"] | decimal}}</td></tr>
    <tr><th>Jobs Succeeded</th><td class="numcol">{{dagman_stats["succeeded"] | decimal}}</td></tr>
    <tr><th>Jobs Failed</th><td class="numcol">{{dagman_stats["failed"] | decimal}}</td></tr>
    <tr><th>Total Runtime (hrs)</th><td class="numcol">{{dagman_stats["total_runtime"] | float}}</td></tr>
</table>
</div>
<div class="widget">
<h2>Download Metrics</h2>
<table class="keyvalue">
    <tr><th>Number of downloads</th><td class="numcol">{{downloads | decimal}}</td></tr>
</table>
</div>
<div style="clear: both;"></div>
<div class="widget">
<h2>Top Planner Domains</h2>
<table class="top5">
    <tr><th>Domain</th><th>Workflows</th><th>Tasks</th><th>Jobs</th></tr>
    {% for domain in top_domains: %}
    <tr>
        <td>{{domain["domain"] }}</td>
        <td class="right">{{domain["workflows"] | decimal}}</td>
        <td class="right">{{domain["tasks"] | decimal}}</td>
        <td class="right">{{domain["jobs"] | decimal}}</td>
    </tr>
    {% else %}
    <tr><td colspan="4" class="nodata">No Data</td></tr>
    {% endfor %}
</table>
</div>
<div class="widget">
<h2>Top Planner Hosts</h2>
<table class="top5">
    <tr><th>Host</th><th>Workflows</th><th>Tasks</th><th>Jobs</th></tr>
    {% for host in top_hosts: %}
    <tr>
        <td>{{host["hostname"]}}</td>
        <td class="right">{{host["workflows"] | decimal}}</td>
        <td class="right">{{host["tasks"] | decimal}}</td>
        <td class="right">{{host["jobs"] | decimal}}</td>
    </tr>
    {% else %}
    <tr><td colspan="4" class="nodata">No Data</td></tr>
    {% endfor %}
</table>
</div>
<div id="map"></div>
<script type="text/javascript">

    var mapOptions = {
        center: { lat: 35.46067, lng: -40.281372},
        zoom: 3
    };
    var map = new google.maps.Map(document.getElementById('map'),mapOptions);

    var markers = [];
    {% for domain in top_domains: %}
        var newMarker = new google.maps.Marker({
            position : new google.maps.LatLng({{domain["latitude"] | float}}, {{domain["longitude"] | float}})
        });
        newMarker.setMap(map);
        markers.push(newMarker);
    {% endfor %}

</script>
{% endblock %}

