<!doctype html>
<html>
<head>
<title>Pegasus Metrics</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='nav.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script>
function reprocess() {
    form = document.createElement("form");
    form.method = "post";
    form.action = "{{ url_for('reprocess') }}";
    document.getElementsByTagName('body')[0].appendChild(form);
    if (confirm("The previously processed data will be deleted and reloaded from the raw data. Are you sure you want to do this?")) {
        form.submit();
    }
}
</script>
</head>
<body>
<div id="body">
    <div id="header">
        <a href="/">
            <img src="{{ url_for('static', filename='logo.png') }}"/>Pegasus Metrics
        </a>
    </div>
    <div id="navigation">
        <ul id="nav">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li onClick="return true">Planner Metrics
                <ul>
                    <li><a href="{{ url_for('top_errors') }}">Top Errors</a></li>
                    <li><a href="{{ url_for('recent_errors') }}">Recent Errors</a></li>
                    <li><a href="{{ url_for('top_domains') }}">Top Domains</a></li>
                    <li><a href="{{ url_for('top_hosts') }}">Top Hosts</a></li>
                </ul>
            </li>
            <li onClick="return true">Downloads
                <ul>
                    <li><a href="{{ url_for('recent_downloads') }}">Recent Downloads</a></li>
                    <li><a href="{{ url_for('popular_downloads') }}">Popular Downloads</a></li>
                </ul>
            </li>
            <li onClick="return true">Admin
                <ul>
                    <li><a href="{{ url_for('invalid') }}">Invalid Data</a></li>
                    <li><a href="javascript:reprocess()">Reprocess Data</a></li>
                </ul>
            </li>
        </ul>
        <div id="navdate">{{ current_date | simpledate }}</div>
    </div>
    <div id="content">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages: %}
            {% for category, message in messages: %}
                <div class="flash_{{category}}">{{message}}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
    </div>
    <div id="footer" style="clear: both;"/>
</div>
</body>
</html>

