<!doctype html>
<html>
<head>
<title>Pegasus Metrics</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script>
function reprocess() {
    form = document.createElement("form");
    form.method = "post";
    form.action = "{{ url_for('reprocess') }}";
    document.getElementsByTagName('body')[0].appendChild(form);
    if (confirm("The previously processed data will be deleted and reloaded from the raw data. Are you sure you want to do this?")) {
        form.submit();
    }
}
</script>
</head>
<body>
<div id="body">
    <div id="header">
        <a href="/">
            <img src="{{ url_for('static', filename='logo.png') }}"/>Pegasus Metrics
        </a>
    </div>
    <div id="navigation">
        <a href="/">Home</a>
        <a href="/invalid">Invalid Data</a>
        <a href="javascript:reprocess()">Reprocess Data</a>
    </div>
    <div id="content">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages: %}
            {% for category, message in messages: %}
                <div class="flash_{{category}}">{{message}}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
    </div>
</div>
</body>
</html>

