{% extends "layout.html" %}
{% import 'forms.html' as forms %}
{% block body %}
{{forms.period_form(form)}}
<h2>Popular Downloads</h2>
<table id="popularDownloads">
    <thead>
        <tr>
            <th>Filename</th>
            <th>Downloads</th>
        </tr>
    </thead>
    <tbody>
        {% for dl in downloads: %}
        <tr>
            <td class="nowrap">{{dl["filename"]}}</td>
            <td class="right">{{dl["count"] | decimal}}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="2" class="nodata">No Data</td>
            <td style="display:none">To keep datatables happy since we sort by the second column</td></tr>
        {% endfor %}
    </tbody>
</table>
<script>

    var downloadsTable = $("#popularDownloads").DataTable({
        "sPaginationType": "full_numbers",
        "bProcessing"    : true,
        "bServerSide"    : true,
        "sAjaxSource"    : "{{ url_for ('popular_downloads') }}",
        "bAutoWidth"     : false,
        "aaSorting"      : [
            [ 1, "desc" ]
        ],
        "aoColumns": [
            {
                "sClass" : "nowrap",
                "asSorting": [ "desc", "asc" ]
            },
            {
                "sClass" : "right",
                "asSorting": [ "desc", "asc" ]
            }
        ],
        "fnServerParams" : function (aoData)
        {
            aoData.push ({ "name": "start_time", "value": {{form.get_start()}} });
            aoData.push ({ "name": "end_time", "value": {{form.get_end()}} });
        }
    });
</script>
{% endblock %}

