{% extends "layout.html" %}
{% import 'forms.html' as forms %}
{% block body %}
{{forms.limit_form(form)}}
<h2>Recent Planner Errors</h2>
<table id="recentErrors">
    <thead>
        <tr><th>ID</th><th>Timestamp</th><th>Error Message</th></tr>
    </thead>
    <tbody>
        {% for err in errors: %}
        <tr>
            <td><a href="{{ url_for('planner_metric', objid=err["id"]) }}">{{err["id"]}}</a></td>
            <td class="nowrap">{{err["ts"] | timestamp}}</td>
            <td class="monospaced">{{err["error"]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $("#recentErrors").DataTable();
</script>
{% endblock %}

