{% extends "layout.html" %}
{% import 'forms.html' as forms %}
{% block body %}
{{forms.period_form(form)}}
<h2>Recent Applications</h2>
<table id="recentApplications">
    <thead>
    <tr><th>ID</th><th>Timestamp</th><th>Hostname</th><th>Application</th></tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script>
    $("#recentApplications").DataTable({
        "sPaginationType": "full_numbers",
        "bProcessing"    : true,
        "bServerSide"    : true,
        "sAjaxSource"    : "{{ url_for ('recent_applications') }}",
        "bAutoWidth"     : false,
        "aaSorting"      : [
            [ 0, "desc" ]
        ],
        "aoColumns": [
            {
                "sClass" : "nowrap",
                "mRender" : function(data, type, full) {
                    // For some reason parseInt can't handle commas and we
                    data = data.replace(/,/g, '');
                    url = "{{url_for('planner_metric', objid=data) }}" + data;
                    return "<a href='" + url + "'>" + data + "</a>";
                }
            },
            { "sClass" : "nowrap" },
            { "sClass" : "nowrap" },
            { "sClass" : "monospaced" }
        ],
        "fnServerParams" : function (aoData)
        {
            aoData.push ({ "name": "start_time", "value": {{form.get_start()}} });
            aoData.push ({ "name": "end_time", "value": {{form.get_end()}} });
        }
    });
</script>
{% endblock %}