{% extends "layout.html" %}
{% import 'forms.html' as forms %}
{% block body %}
{{forms.period_form(form)}}
{{forms.limit_form(limit_f)}}
<h2>Top Applications</h2>
<table id="topApplications">
    <thead>
    <tr><th>Application</th><th>Workflows</th><th>Tasks</th><th>Jobs</th></tr>
    </thead>
    <tbody>
    {% for app in applications: %}
    <tr>
        <td class="monospaced">{{app["application"]}}</td>
        <td class="monospaced">{{app["workflows"]}}</td>
        <td class="monospaced">{{app["tasks"]}}</td>
        <td class="monospaced">{{app["jobs"]}}</td>
    </tr>
    {% else %}
    <tr>
        <td colspan="4" class="nodata">No Data</td>
        <td style="display:none">These dummy items keep DataTable happy</td>
        <td style="display:none">These dummy items keep DataTable happy</td>
        <td style="display:none">These dummy items keep DataTable happy</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    $("#topApplications").DataTable({
        "order": [[ 1, "desc" ]]
    });
</script>
{% endblock %}