{% extends "layout.html" %}
{% import 'forms.html' as forms %}
{% block body %}
{{forms.period_form(form)}}
<h2>Top Applications</h2>
<table id="topApplications">
    <thead>
    <tr><th>Application</th><th>Workflows</th><th>Tasks</th><th>Jobs</th></tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script>
    $("#topApplications").DataTable({
        "sPaginationType": "full_numbers",
        "bProcessing"    : true,
        "bServerSide"    : true,
        "sAjaxSource"    : "{{ url_for ('top_applications') }}",
        "bAutoWidth"     : false,
        "aaSorting"      : [
            [ 1, "desc" ]
        ],
        "aoColumns": [
            {
                "sClass" : "monospaced",
                "asSorting": [ "desc", "asc" ]
            },
            {
                "sClass" : "monospaced",
                "asSorting": [ "desc", "asc" ]
            },
            {
                "sClass" : "monospaced",
                "asSorting": [ "desc", "asc" ]
            },
            {
                "sClass" : "monospaced",
                "asSorting": [ "desc", "asc" ]
            }
        ],
        "fnServerParams" : function (aoData)
        {
            aoData.push ({ "name": "start_time", "value": {{form.get_start()}} });
            aoData.push ({ "name": "end_time", "value": {{form.get_end()}} });
        }
    });
</script>
{% endblock %}