{% extends "layout.html" %}
{% import 'forms.html' as forms %}
{% block body %}
<h2>Planner Trends</h2>
{{forms.trend_form(form)}}
<br/>
<table style="width:100%;">
    <tr>
        <th colspan="2">Workflows Planned By Version</th>
    </tr>
    <tr>
        <td style="width:80%">
            <canvas id="plansTrend" width="1000px" height="500"></canvas>
        </td>
        <td style="width:20%">
            <table id="plansLegend" class="trendLegend" style="width:100%">
                <tr style="text-align: center"><th>Line Color</th><th>Version</th></tr>
            </table>
        </td>
    </tr>
</table>
<script type="text/javascript">

    // Couldn't find a chart tool that automatically generates the colors
    // So we need an array to keep track of them all
    var colors = [
        [255,0,0],
        [255,0,255],
        [255,255,0],
        [255,125,125],
        [125,255,125],
        [125,125,255],
        [0,255,255],
        [0,255,0],
        [0,0,255],
        [0,0,0]

    ];
    // For some reason Javascript Date doesn't give the month in string form, so just use this array
    var monthNames = [ "January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December" ];

    function getNewDataSet(label, index) {
        return {
            'label' : label,
            'fillColor' : "",
            'strokeColor' : "",
            'pointColor' : "",
            'poinStrokeColor' : "#fff",
            'pointHighlightFill' : "#fff",
            'pointHighlightStroke' : "",
            'data' : [],
            'total' : 0
        };
    }

    function formatTrendData(unformattedData, legendElementID) {
        var formattedData = [];
        var dataSetCount = 0;
        for(var i = 0; i < unformattedData.length; i++) {
            for(var j = 0; j < unformattedData[i].length; j++) {
                var newData = true;
                for(var k = 0; k < formattedData.length; k++) {
                    // Add plot point to an existing trendline
                    if(formattedData[k].label == unformattedData[i][j].version) {
                        newData = false;
                        formattedData[k].data.unshift(unformattedData[i][j]['count(*)']);
                        formattedData[k].total += unformattedData[i][j]['count(*)'];
                    }
                }
                // Create a new trendline
                if(newData) {
                    var newDataSet = getNewDataSet(unformattedData[i][j].version, dataSetCount++);
                    // Generate html legend
                    formattedData.push(newDataSet);
                    // Fill in zeroes behind data
                    for(var l = 0; l < i; l++) {
                        newDataSet.data.push(0);
                    }
                    newDataSet.data.unshift(unformattedData[i][j]['count(*)']);
                    newDataSet.total += unformattedData[i][j]['count(*)'];
                }
            }
            // Add a zero to every trendline that did not have a new data point this iteration
            for(var k = 0; k < formattedData.length; k++) {
                if(formattedData[k].data.length == i) {
                    formattedData[k].data.unshift(0);
                }
            }
        }
        // Get the top 10 trends
        formattedData.sort(function(a,b){
            return b.total - a.total;
        });
        if(formattedData.length > 10) {
            formattedData = formattedData.splice(0,10);
        }

        for(i=0; i < formattedData.length; i++) {
            var color = colors[i];
            var colorString = "rgba(" + color[0] + "," + color[1] + "," + color[2] + ",";
            formattedData[i].fillColor = colorString + "0.2)";
            formattedData[i].stokeColor = colorString + "1)";
            formattedData[i].pointColor = colorString + "1)";
            formattedData[i].pointHighlightStroke = colorString + "1)";
            $("#"+legendElementID).append("<tr><td><div style='width:20px;height:20px;background-color:" + formattedData[i].pointColor + "'></div></td><td>" + formattedData[i].label + "</td></p>");
        }
        return formattedData;
    }

    var intervals = {{intervals | tojson | safe}};
    var monthLabels = [];
    for(var i = 0; i < intervals.length-1; i++) {
        // The datetime should come in in seconds and we need to convert to milliseconds
        var intervalDate = new Date(intervals[i] * 1000);
        monthLabels.unshift(monthNames[intervalDate.getMonth()] + " " + intervalDate.getFullYear());
    }


    var plans = {{ trend | tojson | safe}};

    var plansTrend = formatTrendData(plans, "plansLegend");

    var plansChartData = {
        'labels' : monthLabels,
        'datasets' : plansTrend
    };
    var ctx = document.getElementById("plansTrend").getContext("2d");
    var myNewChart = new Chart(ctx).Line(plansChartData);
</script>
{% endblock %}