{% extends "layout.html" %}
{% import 'forms.html' as forms %}
{% block body %}
{{forms.period_form(form)}}
<h2>Recent Downloads</h2>
<p><label><input type="checkbox" id="formOnly">Hide entries with no form filled out</label></p>
<table id="recentDownloads" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Timestamp</th>
            <th>Filename</th>
            <th>Version</th>
            <th>Hostname</th>
            <th>Name</th>
            <th>Email</th>
            <th>Organization</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script>

    var downloadsTable = $("#recentDownloads").DataTable({
        "sPaginationType": "full_numbers",
        "bProcessing"    : true,
        "bServerSide"    : true,
        "sAjaxSource"    : "{{ url_for ('recent_downloads') }}",
        "bAutoWidth"     : false,
        "aaSorting"      : [
            [ 1, "desc" ]
        ],
        "aoColumns": [
            {
                "sClass" : "right",
                "asSorting": [ "desc", "asc" ],
                "mRender" : function(data, type, full) {
                    // For some reason parseInt can't handle commas and we
                    data = data.replace(/,/g, '');
                    url = "{{url_for('download_metric', objid=data) }}" + data;
                    return "<a href='" + url + "'>" + data + "</a>";
                }
            },
            {
                "sClass" : "nowrap",
                "asSorting": [ "desc", "asc" ]
            },
            {
                "sClass" : "monospace",
                "asSorting": [ "desc", "asc" ]
            },
            {
                "sClass" : "monospace",
                "asSorting": [ "desc", "asc" ]
            },
            {
                "sClass" : "monospace",
                "asSorting": [ "desc", "asc" ]
            },
            {
                "sClass" : "monospace",
                "asSorting": [ "desc", "asc" ]
            },
            {
                "sClass" : "monospace",
                "asSorting": [ "desc", "asc" ]
            },
            {
                "sClass" : "monospace",
                "asSorting": [ "desc", "asc" ]
            }
        ],
        "fnServerParams" : function (aoData)
        {
            aoData.push({ "name": "start_time", "value": {{form.get_start()}} });
            aoData.push({ "name": "end_time", "value": {{form.get_end()}} });
            aoData.push({ "name": "form_only", "value": $("#formOnly").is(":checked")});
        }
    });

    $(":checkbox").on('click',function() {
        downloadsTable.draw();
    });
</script>
{% endblock %}

