{% extends "layout.html" %}
{% import 'forms.html' as forms %}
{% block body %}
{{forms.period_form(form)}}
<h2>Top Hosts</h2>
<table id="top_hosts">
    <thead>
        <tr><th>Host</th><th>Workflows</th><th>Tasks</th><th>Jobs</th></tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script>
    $("#top_hosts").DataTable({
        "sPaginationType": "full_numbers",
        "bProcessing"    : true,
        "bServerSide"    : true,
        "sAjaxSource"    : "{{ url_for ('top_hosts') }}",
        "bAutoWidth"     : false,
        "aaSorting"      : [
            [ 1, "desc" ]
        ],
        "aoColumns": [
            {
                "sClass" : "nowrap",
                "asSorting": [ "desc", "asc" ],
                "mRender" : function(data, type, full) {
                    url = "{{url_for('location_metric', ipaddr=full) }}" + full["remote_addr"];
                    return "<a href='" + url + "'>" + data + "</a>";
                }
            },
            {
                "sClass" : "right",
                "asSorting": [ "desc", "asc" ]
            },
            {
                "sClass" : "right",
                "asSorting": [ "desc", "asc" ]
            },
            {
                "sClass" : "right",
                "asSorting": [ "desc", "asc" ]
            }
        ],
        "fnServerParams" : function (aoData)
        {
            aoData.push ({ "name": "start_time", "value": {{form.get_start()}} });
    aoData.push ({ "name": "end_time", "value": {{form.get_end()}} });
    }
    });
</script>
{% endblock %}

