body {
    background-color: #DDDDDD;
    font-family: Veranda, Sans-serif;
}

h2 {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#header {
    font-size: 200%;
    font-weight: bold;
    padding: 10px;
}

#header a {
    color: #000000;
    text-decoration: none;
}

#header a:hover {
    text-decoration: underline;
}

#header img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    vertical-align: middle;
}

#body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    -moz-box-shadow: 3px 3px 4px #555;
    -webkit-box-shadow: 3px 3px 4px #555;
    box-shadow: 3px 3px 4px #555;
}

#navigation {
    width: 100%;
    height: 35px;
    vertical-align: middle;
    background-color: #444;
}

#content {
    padding: 20px;
    margin: 0px;
}

.flash_message {
    color: green;
    font-size: 125%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flash_error {
    color: red;
    font-size: 125%;
    padding-top: 10px;
    padding-bottom: 10px;
}

table { 
    border-collapse: collapse;
}

th,td {
    padding: 5px;
    border: 1px solid black;
}

td {
    vertical-align: top;
}

th {
    font-weight: normal;
    color: #FFFFFF;
    background-color: #0000AA;
}

td.numcol {
    text-align: right;
}

table.keyvalue {
}

table.keyvalue th {
    text-align: left;
    width: 250px;
}

table.keyvalue td {
    width: 100px;
}

table.top5 tr td {
    text-align: right;
}

table.top5 tr td:first-of-type {
    text-align: left;
}

td.json {
    font-family: monospace;
    white-space: pre-wrap;
}

td.error {
    font-family: monospace;
    white-space: pre-wrap;
}

.stacktrace {
    font-family: monospace;
    white-space: pre-wrap;
}

