body {
    padding: 0px;
    margin: 0px;
    background-color: #DDDDDD;
    font-family: Veranda, Sans-serif;
}

h2 {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#header {
    font-size: 200%;
    font-weight: bold;
    padding: 10px;
}

#header a {
    color: #000000;
    text-decoration: none;
}

#header a:hover {
    text-decoration: underline;
}

#header img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    vertical-align: middle;
}

#navdate {
    float: right;
    color: white;
    font-size: 125%;
    padding-top: 6px;
    padding-right: 10px;
}

#body {
    width: 100%;
    background-color: #FFFFFF;
}

@media (min-width: 1024px) {
    #body {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        -moz-box-shadow: 3px 3px 4px #555;
        -webkit-box-shadow: 3px 3px 4px #555;
        box-shadow: 3px 3px 4px #555;
    }
}

#navigation {
    width: 100%;
    height: 35px;
    vertical-align: middle;
    background-color: #444;
}

#content {
    padding: 20px;
    margin: 0px;
    overflow: auto;
}

#filterform {
    background-color: #DDD;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #888;
    overflow: auto;
}

.flash_message {
    color: green;
    font-size: 125%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flash_error {
    color: red;
    font-size: 125%;
    padding-top: 10px;
    padding-bottom: 10px;
}

table { 
    border-collapse: collapse;
}

th,td {
    padding: 5px;
    border: 1px solid black;
}

td {
    vertical-align: top;
}

table.top5 th, table.keyvalue th {
    font-weight: normal;
    color: #FFFFFF;
    background-color: #0000AA;
}

td.numcol {
    text-align: right;
}

table.keyvalue {
}

table.keyvalue th {
    text-align: left;
    width: 250px;
}

table.keyvalue td {
    width: 100px;
}

.monospaced {
    font-family: "Consolas", "Courier New", monospace;
    white-space: pre;
}

@media (min-width: 1024px) {
    .monospaced {
        white-space: pre-wrap;
    }
}

.nowrap {
    white-space: nowrap;
}

#invalid_data td:nth-of-type(1) {
    width: 50%;
}

.widget {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.na {
    color: lightgray;
}

.form_error {
    color: red;
}

td.nodata {
    color: darkgray;
    text-align: center;
}

td.left {
    text-align: left;
}

td.right {
    text-align: right;
}

#map {
    width : 100%;
    height : 500px;
}

.trendLegend {
    border: thin;
    border-style: solid;
    border-color: #000000;
    text-align: right;
    padding-right: 15px;
}

